.navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: bisque;
  background-size: auto;
  padding: 10px;
}

.navLogo img {
  width: 80px;
}

.navLink {
  display: flex;
  list-style: none;
}

.navbar li:hover {
  background: greenyellow;
}

.navLink li {
  margin-right: 55px;
}

@media only screen and (max-width: 668px) {
  .navbar {
    justify-content: space-between;
    background-size: auto;
  }
  .navLink li {
    margin-right: 10px;
  }
}
